<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Historial</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <table>
    <thead>
      <tr>
        <th> Descripcion | </th>
        <th> Compras | </th>
        <th> Recargas </th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let compras of compras">
        <td>{{compras.nombre}}</td>
        <td>{{compras.precio}}</td>
      </tr>

      <tr *ngFor="let recarga of recargas">
        <td>Recarga</td>
        <td></td>
        <td>{{recarga.monto}}</td>
      </tr>

      
    </tbody>

  </table>

</ion-content>
