<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Editar</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <form>


    <ion-list>
      <ion-item>
        <ion-select placeholder="Seleccione al cliente"
        >
          <ion-select-option 
            *ngFor="let cliente of clientes"
            value={{cliente.id}}
            >
            {{cliente.nombre}}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>


    <ion-item>
      <ion-label>Nuevo Nombre</ion-label>
      <ion-input [(ngModel)]="nombre" type="text"name="title"></ion-input>
    </ion-item>
    <ion-button ion-button type="submit" (click)="cambiarNombre()" block>Cambiar Nombre</ion-button>
  </form>

</ion-content>