<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Agregar Saldo</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <form #miFormulario="ngForm">

      <ion-item>
        <ion-label>Cliente</ion-label>
        <ion-select placeholder="Seleccione al cliente"
        [(ngModel)]="recarga.id" name="id">
          <ion-select-option *ngFor="let cliente of clientes"
            value={{cliente.id}>
            {{cliente.nombre}}
          </ion-select-option>
        </ion-select>
      </ion-item>


    <ion-item>
      <ion-label>Agregar Saldo</ion-label>
      <ion-input [(ngModel)]="monto" type="number"name="title"></ion-input>
    </ion-item>
    <ion-button ion-button type="submit" (click)="agregarSaldo()" block>Agregar Saldo</ion-button>
  </form>

</ion-content>
