<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Comprar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngFor="let producto of productos" >
  <ion-card>
    <ion-card-title>
      {{producto.nombre}}
    </ion-card-title>
    <ion-card-subtitle>
      {{producto.precio}}
    </ion-card-subtitle>
    <ion-button (click)="comprarProducto(producto.id)">
      Comprar
    </ion-button>
  </ion-card>
</ion-content>
